In [3]:
import pandas as pd
df=pd.read_csv(r"C:\Users\ashis\Downloads\ML_DATA_SET.csv")

In [3]:
df.loc[:,"Marks"]

0     -10.0
1     -10.0
2      21.0
3      62.0
4       NaN
5     120.0
6     120.0
7      71.0
8     120.0
9      77.0
10    -10.0
11    120.0
12    -10.0
13    120.0
14    120.0
15      NaN
16    -10.0
17    120.0
18    120.0
19    -10.0
20      NaN
21    -10.0
22    120.0
23     99.0
24    120.0
25    -10.0
26     58.0
27    120.0
28    120.0
29      NaN
30    -10.0
31    120.0
32     96.0
Name: Marks, dtype: float64

In [4]:
df.loc[:,"Marks"]

0     -10.0
1     -10.0
2      21.0
3      62.0
4       NaN
5     120.0
6     120.0
7      71.0
8     120.0
9      77.0
10    -10.0
11    120.0
12    -10.0
13    120.0
14    120.0
15      NaN
16    -10.0
17    120.0
18    120.0
19    -10.0
20      NaN
21    -10.0
22    120.0
23     99.0
24    120.0
25    -10.0
26     58.0
27    120.0
28    120.0
29      NaN
30    -10.0
31    120.0
32     96.0
Name: Marks, dtype: float64

In [5]:
df.iloc[0]

Student_Name    Aarav Sharma
Department               NaN
Year                     1st
Section                  NaN
Marks                  -10.0
Result                  Fail
Grade                    NaN
Name: 0, dtype: object

In [6]:
df.iloc[0:5,2:5]

  Year Section  Marks
0  1st     NaN  -10.0
1  2nd       C  -10.0
2  3rd     NaN   21.0
3  4th       C   62.0
4  NaN       A    NaN

In [7]:
df[df["Marks"]<60]

    Student_Name Department Year Section  Marks Result Grade
0   Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
1     Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
2            NaN         CE  3rd     NaN   21.0   Fail   NaN
10           NaN        ECE  3rd       C  -10.0   Pass     C
12           NaN        ECE  1st       B  -10.0   Fail     A
16  Manish Yadav         ME  2nd       C  -10.0   Pass     B
19           NaN      AI&DS  NaN       B  -10.0   Fail   NaN
21           NaN         CE  1st     NaN  -10.0    NaN     A
25           NaN      AI&DS  2nd     NaN  -10.0    NaN     F
26  Swati Pandey        NaN  4th       C   58.0   Pass   NaN
30           NaN         ME  3rd       A  -10.0   Pass   NaN

In [8]:
df[(df["Marks"]>60)&(df["Result"]=="Pass")]

       Student_Name Department Year Section  Marks Result Grade
7       Sneha Gupta        NaN  4th       B   71.0   Pass     F
13  Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
17              NaN         ME  2nd       C  120.0   Pass     B
18              NaN        NaN  1st       A  120.0   Pass     C

In [9]:
df[(df["Marks"]>60)|(df["Result"]=="Fail")]

          Student_Name Department Year Section  Marks Result Grade
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
2                  NaN         CE  3rd     NaN   21.0   Fail   NaN
3                  NaN        NaN  4th       C   62.0    NaN   NaN
5                  NaN        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
8                  NaN        NaN  NaN       C  120.0   Fail     C
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
11                 NaN        NaN  2nd     NaN  120.0    NaN     A
12                 NaN        ECE  1st       B  -10.0   Fail     A
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
14                 NaN         CE  4th       A  120.0    NaN     A
17                 NaN         ME  2nd       C  120.0   Pass     B
18                 NaN        NaN  1st       A  120.0   Pass     C
19                 NaN      AI&DS  NaN       B  -10.0   Fail   NaN
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
27                 NaN        CSE  2nd       A  120.0    NaN     D
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C

In [10]:
df.iloc[0:5,2:5]

  Year Section  Marks
0  1st     NaN  -10.0
1  2nd       C  -10.0
2  3rd     NaN   21.0
3  4th       C   62.0
4  NaN       A    NaN

In [11]:
df.iloc[0,3]

nan

In [12]:
df.iloc[1:3,1:3]

  Department Year
1        NaN  2nd
2         CE  3rd

In [13]:
df[df["Marks"]>70]

          Student_Name Department Year Section  Marks Result Grade
5                  NaN        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
8                  NaN        NaN  NaN       C  120.0   Fail     C
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
11                 NaN        NaN  2nd     NaN  120.0    NaN     A
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
14                 NaN         CE  4th       A  120.0    NaN     A
17                 NaN         ME  2nd       C  120.0   Pass     B
18                 NaN        NaN  1st       A  120.0   Pass     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
27                 NaN        CSE  2nd       A  120.0    NaN     D
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C

In [14]:
df[(df["Marks"]>30)&(df["Result"]=="Pass")]

       Student_Name Department Year Section  Marks Result Grade
7       Sneha Gupta        NaN  4th       B   71.0   Pass     F
13  Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
17              NaN         ME  2nd       C  120.0   Pass     B
18              NaN        NaN  1st       A  120.0   Pass     C
26     Swati Pandey        NaN  4th       C   58.0   Pass   NaN

In [15]:
df[(df["Grade"]=="A")|(df["Grade"]=="B")]

    Student_Name Department Year Section  Marks Result Grade
4            NaN      AI&DS  NaN       A    NaN   Pass     A
5            NaN        EEE  1st       A  120.0    NaN     B
6     Aditya Rao        EEE  1st       B  120.0    NaN     A
9    Neha Kapoor        CSE  NaN       C   77.0    NaN     A
11           NaN        NaN  2nd     NaN  120.0    NaN     A
12           NaN        ECE  1st       B  -10.0   Fail     A
14           NaN         CE  4th       A  120.0    NaN     A
16  Manish Yadav         ME  2nd       C  -10.0   Pass     B
17           NaN         ME  2nd       C  120.0   Pass     B
21           NaN         CE  1st     NaN  -10.0    NaN     A
22  Shreya Ghosh        CSE  4th       A  120.0   Fail     B

In [16]:
df.isnull().sum()

Student_Name    18
Department      10
Year             5
Section          8
Marks            4
Result          16
Grade           11
dtype: int64

In [17]:
df["Student_Name"]=df["Student_Name"].fillna(df["Student_Name"].mode()[0])

In [18]:
df.isnull().sum()

Student_Name     0
Department      10
Year             5
Section          8
Marks            4
Result          16
Grade           11
dtype: int64

In [19]:
df.sort_values("Marks")

          Student_Name Department Year Section  Marks Result Grade
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN

In [20]:
df.sort_values(["Marks","Year"],ascending=[False,True])

          Student_Name Department Year Section  Marks Result Grade
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A

In [21]:
df["Grade"].value_counts()

Grade
A    7
C    6
B    4
F    4
D    1
Name: count, dtype: int64

In [22]:
df.sort_values("Marks",ascending=False).head(5)

          Student_Name Department Year Section  Marks Result Grade
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A

In [23]:
df.sort_values("Marks",ascending=False).head(10)

          Student_Name Department Year Section  Marks Result Grade
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A

In [24]:
df["Result"].value_counts()

Result
Pass    10
Fail     7
Name: count, dtype: int64

In [25]:
df["Result"].value_counts()

Result
Pass    10
Fail     7
Name: count, dtype: int64

In [26]:
df.groupby("Year")["Marks"].mean()

Year
1st    74.000000
2nd    55.000000
3rd     0.333333
4th    95.857143
Name: Marks, dtype: float64

In [27]:
#sorting of the data 
df.sort_values("Marks")

          Student_Name Department Year Section  Marks Result Grade
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN

In [28]:
df.sort_values("Marks")

          Student_Name Department Year Section  Marks Result Grade
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN

In [29]:
df.sort_values("Marks",ascending=False)

          Student_Name Department Year Section  Marks Result Grade
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN

In [30]:
df.sort_values("Marks")

          Student_Name Department Year Section  Marks Result Grade
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN

In [31]:
df.sort_values("Marks",ascending=False)

          Student_Name Department Year Section  Marks Result Grade
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN

In [32]:
df.sort_values(["Department","Marks"],ascending=[True,False])

          Student_Name Department Year Section  Marks Result Grade
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN

In [33]:
df.sort_values("Marks",ascending =False)

          Student_Name Department Year Section  Marks Result Grade
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN

In [34]:
df.sort_values(["Department","Marks"],ascending=[True,False])

          Student_Name Department Year Section  Marks Result Grade
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN

In [35]:
df.isnull().sum()

Student_Name     0
Department      10
Year             5
Section          8
Marks            4
Result          16
Grade           11
dtype: int64

In [36]:
df["Student_Name"]=df["Student_Name"].fillna("Unknown")

In [37]:
df.isnull().sum()

Student_Name     0
Department      10
Year             5
Section          8
Marks            4
Result          16
Grade           11
dtype: int64

In [38]:
df.sort_values(["Department","Marks"],ascending=[True,False])

          Student_Name Department Year Section  Marks Result Grade
19        Aarav Sharma      AI&DS  NaN       B  -10.0   Fail   NaN
25        Aarav Sharma      AI&DS  2nd     NaN  -10.0    NaN     F
4         Aarav Sharma      AI&DS  NaN       A    NaN   Pass     A
29        Aarav Sharma      AI&DS  2nd       C    NaN    NaN   NaN
14        Aarav Sharma         CE  4th       A  120.0    NaN     A
2         Aarav Sharma         CE  3rd     NaN   21.0   Fail   NaN
21        Aarav Sharma         CE  1st     NaN  -10.0    NaN     A
15      Nisha Aggarwal         CE  1st       A    NaN    NaN     C
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
27        Aarav Sharma        CSE  2nd       A  120.0    NaN     D
23        Varun Saxena        CSE  NaN     NaN   99.0    NaN   NaN
9          Neha Kapoor        CSE  NaN       C   77.0    NaN     A
32        Pankaj Sinha        ECE  1st       B   96.0    NaN     C
10        Aarav Sharma        ECE  3rd       C  -10.0   Pass     C
12        Aarav Sharma        ECE  1st       B  -10.0   Fail     A
5         Aarav Sharma        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
17        Aarav Sharma         ME  2nd       C  120.0   Pass     B
31       Gaurav Tiwari         ME  1st     NaN  120.0    NaN     F
16        Manish Yadav         ME  2nd       C  -10.0   Pass     B
30        Aarav Sharma         ME  3rd       A  -10.0   Pass   NaN
20        Aarav Sharma         ME  1st       A    NaN    NaN   NaN
8         Aarav Sharma        NaN  NaN       C  120.0   Fail     C
11        Aarav Sharma        NaN  2nd     NaN  120.0    NaN     A
13     Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C
18        Aarav Sharma        NaN  1st       A  120.0   Pass     C
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
7          Sneha Gupta        NaN  4th       B   71.0   Pass     F
3         Aarav Sharma        NaN  4th       C   62.0    NaN   NaN
26        Swati Pandey        NaN  4th       C   58.0   Pass   NaN
0         Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN
1           Diya Patel        NaN  2nd       C  -10.0   Pass   NaN

In [39]:
df["Grade"].value_counts()

Grade
A    7
C    6
B    4
F    4
D    1
Name: count, dtype: int64

In [40]:
df["Grade"].value_counts(normalize=True)

Grade
A    0.318182
C    0.272727
B    0.181818
F    0.181818
D    0.045455
Name: proportion, dtype: float64

In [41]:
df.groupby("Department")["Marks"].mean()

Department
AI&DS    -10.000000
CE        43.666667
CSE      104.000000
ECE       25.333333
EEE      120.000000
ME        55.000000
Name: Marks, dtype: float64

In [42]:
df.groupby("Department")["Marks"].agg(["mean","max","min"])

                  mean    max    min
Department
AI&DS       -10.000000  -10.0  -10.0
CE           43.666667  120.0  -10.0
CSE         104.000000  120.0   77.0
ECE          25.333333   96.0  -10.0
EEE         120.000000  120.0  120.0
ME           55.000000  120.0  -10.0

In [43]:
df.groupby("Result")["Student_Name"].count()

Result
Fail     7
Pass    10
Name: Student_Name, dtype: int64

In [45]:
df.groupby("Grade")["Student_Name"].count()

Grade
A    7
B    4
C    6
D    1
F    4
Name: Student_Name, dtype: int64

In [4]:
df.isnull().sum()

Student_Name    18
Department      10
Year             5
Section          8
Marks            4
Result          16
Grade           11
dtype: int64

In [5]:
df["Student_Name"]=df["Student_Name"].fillna("Unknown")

In [6]:
df.isnull().sum()

Student_Name     0
Department      10
Year             5
Section          8
Marks            4
Result          16
Grade           11
dtype: int64

In [7]:
df["Result"].value_counts()

Result
Pass    10
Fail     7
Name: count, dtype: int64

In [9]:
df.groupby("Year")["Marks"].mean()

Year
1st    74.000000
2nd    55.000000
3rd     0.333333
4th    95.857143
Name: Marks, dtype: float64

In [11]:
dep_avg=df.groupby("Department")["Marks"].mean()
dep_avg[dep_avg>100]

Department
CSE    104.0
EEE    120.0
Name: Marks, dtype: float64

In [12]:
df.sort_values("Marks",ascending=False).head(5)

          Student_Name Department Year Section  Marks Result Grade
24        Ritika Arora        EEE  1st       A  120.0    NaN   NaN
28  Aishwarya Kulkarni        NaN  4th       A  120.0   Fail     F
22        Shreya Ghosh        CSE  4th       A  120.0   Fail     B
5              Unknown        EEE  1st       A  120.0    NaN     B
6           Aditya Rao        EEE  1st       B  120.0    NaN     A

In [13]:
df["Total_Marks"]=df["Marks"]+5

In [14]:
df["Pass_Fail"]=df["Marks"].apply(lambda x: "Pass" if x>=40 else "Fail")

In [15]:
df["Pass_Fail"]=df["Marks"].apply(lambda x : "Pass" if x>=30 else "Fail")

In [16]:
df["Marks_Square"]=df["Marks"].apply(lambda x: x**2)

In [9]:
import pandas as pd
df=pd.read_csv(r"C:\Users\ashis\Downloads\ML_DATA_SET.csv")
def grade(m):
    if m>=80:return "A"
    elif m>=60:return "B"
    elif m>=40:return "C"
    else:return "F"
df["New_Grade"]=df["Marks"].apply(grade)
print(df.head(10))

   Student_Name Department Year Section  Marks Result Grade New_Grade
0  Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN         F
1    Diya Patel        NaN  2nd       C  -10.0   Pass   NaN         F
2           NaN         CE  3rd     NaN   21.0   Fail   NaN         F
3           NaN        NaN  4th       C   62.0    NaN   NaN         B
4           NaN      AI&DS  NaN       A    NaN   Pass     A         F
5           NaN        EEE  1st       A  120.0    NaN     B         A
6    Aditya Rao        EEE  1st       B  120.0    NaN     A         A
7   Sneha Gupta        NaN  4th       B   71.0   Pass     F         B
8           NaN        NaN  NaN       C  120.0   Fail     C         A
9   Neha Kapoor        CSE  NaN       C   77.0    NaN     A         B

In [12]:
df["Bonus"]=df["Marks"].apply(lambda x:x+100)
print(df.head(15))

       Student_Name Department Year Section  Marks Result Grade New_Grade  \
0      Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN         F
1        Diya Patel        NaN  2nd       C  -10.0   Pass   NaN         F
2               NaN         CE  3rd     NaN   21.0   Fail   NaN         F
3               NaN        NaN  4th       C   62.0    NaN   NaN         B
4               NaN      AI&DS  NaN       A    NaN   Pass     A         F
5               NaN        EEE  1st       A  120.0    NaN     B         A
6        Aditya Rao        EEE  1st       B  120.0    NaN     A         A
7       Sneha Gupta        NaN  4th       B   71.0   Pass     F         B
8               NaN        NaN  NaN       C  120.0   Fail     C         A
9       Neha Kapoor        CSE  NaN       C   77.0    NaN     A         B
10              NaN        ECE  3rd       C  -10.0   Pass     C         F
11              NaN        NaN  2nd     NaN  120.0    NaN     A         A
12              NaN        ECE  1st       B  -10.0   Fail     A         F
13  Ishita Banerjee        NaN  4th     NaN  120.0   Pass     C         A
14              NaN         CE  4th       A  120.0    NaN     A         A

    Bonus
0    90.0
1    90.0
2   121.0
3   162.0
4     NaN
5   220.0
6   220.0
7   171.0
8   220.0
9   177.0
10   90.0
11  220.0
12   90.0
13  220.0
14  220.0

In [14]:
df["Marks_Level"] = pd.cut(
    df["Marks"],
    bins=[0, 40, 60, 80, 100],
    labels=["Low", "Average", "Good", "Excellent"]
)
print(df.head(10))

   Student_Name Department Year Section  Marks Result Grade New_Grade  Bonus  \
0  Aarav Sharma        NaN  1st     NaN  -10.0   Fail   NaN         F   90.0
1    Diya Patel        NaN  2nd       C  -10.0   Pass   NaN         F   90.0
2           NaN         CE  3rd     NaN   21.0   Fail   NaN         F  121.0
3           NaN        NaN  4th       C   62.0    NaN   NaN         B  162.0
4           NaN      AI&DS  NaN       A    NaN   Pass     A         F    NaN
5           NaN        EEE  1st       A  120.0    NaN     B         A  220.0
6    Aditya Rao        EEE  1st       B  120.0    NaN     A         A  220.0
7   Sneha Gupta        NaN  4th       B   71.0   Pass     F         B  171.0
8           NaN        NaN  NaN       C  120.0   Fail     C         A  220.0
9   Neha Kapoor        CSE  NaN       C   77.0    NaN     A         B  177.0

  Marks_Level
0         NaN
1         NaN
2         Low
3        Good
4         NaN
5         NaN
6         NaN
7        Good
8         NaN
9        Good

In [15]:
df["ABS"]=df["Marks"]-df["Marks"].mean()
print(jd)